<aside class= " span4">
	
<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user%>
</a>
<h1><%= current_user.name %>
</h1>
<span></br>
  <%= link_to "view my profile", current_user %>
</br>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
</aside>